body{
    text-align: center;
    margin-top: 2rem;
    
}

.p{
    border: solid 0.2rem;
    border-radius: 0.7rem;
    background-color: violet;
    
}


.container{
    background-color: violet;
    border: solid 0.2rem;
    border-radius: 0.7rem;
    
}




